<div class="bg-white rounded-3xl flex flex-col text-center">
    <div class="bg-yellow-300 rounded-t-3xl h-[80%]">
        <div class="bg-orange-600 rounded-t-3xl h-[15%] "> Pays</div>
        <div class="bg-rose-700 h-[45%]  ">LOGO</div>
        <div class="bg-orange-600 h-[25%]  ">20°</div>
        <div class="bg-rose-700 h-[15%]  ">Nuageux</div>
    </div>
    <div class="bg-red-400 rounded-b-3xl h-[20%] flex ">
        <div class="bg-orange-600 rounded-bl-3xl flex-1 ">18°</div>
        <div class="bg-blue-800 flex-1"></div>
        <div class="bg-rose-700 rounded-br-3xl flex-1">20°</div>
    </div>
</div>
